@use 'Variables' as *;

html{
font-size: 62.5%;
box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
margin: 0;
padding: 0;
}

body{
  font-family: 'Alata', sans-serif;
  font-size: 1.5rem;
}

h1, h2 {
  font-family: "Josefin Sans", sans-serif;
}